body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to bottom right, #f0f8ff, #87ceeb, #4682b4);
  }
  .container {
    background-color: rgb(221, 249, 253);
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 15px;
    box-sizing: border-box;
    transition: border-color 0.3s;
  }
  input[type="text"]:focus {
    border-color: #007bff;
    outline: none;
  }
  button {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color: #05a52f;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  button:hover {
    background-color: #24d13b;
  }
  label {
    display: block;
    margin-top: 1rem;
    font-weight: bold;
    font-size: larger;
    text-align: center;
  }